body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.section {
    display: none;
}

button {
    background-color:#45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
}

.events-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event button {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 10px 15px;
}

.event button:disabled {
    background-color: #7f8c8d;
}
